<style type="text/css">
@media  print
{
.domain header  {
border-bottom: 1px solid black;
}
}
</style>
<div class="container g-pt-20">
	<div class="row">
		{% for domain in domains %}
			<div class="col-md-3 g-mb-30 domain">
				
				<article class="u-shadow-v2 text-center g-bg-white g-color-gray-dark-v5 g-brd g-brd-3 g-bg-gray-light-v5 g-brd-gray-light-v4 g-color-gray-dark-v5 g-brd-primary g-transition-0_3">
					
					<header class="g-bg-indigo g-color-white g-pa-20">
						<h4 class="h6 text-uppercase g-font-weight-600">
						{{domain.label}}
						</h4>
					</header>
					<div class="skills g-px-20 g-py-25 g-min-height-360">
						<ul class="text-uppercase list-unstyled g-mb-30">
							{% for techno in domain.technos %}
								<li class="g-mb-20 g-color-gray-dark-v3 g-font-weight-600">
								{{techno.label}}
							</li>
							{% endfor %}
						</ul>
					</div>
				</article>
			</div>
		{% endfor %}
	</div>
	<div class="row ">
		<div class="col-md-12 text-center lead g-font-weight-600">
			Anglais : capacité professionnelle complète, TOEIC 975/995.
		</div>
	</div>
</div>